mat-card {
	height: 100%;
}

#header {
	display: flex;
	flex-direction: row;
	width: 100%;
}

#title {
	display: inline-block;
}

mat-card-title {
	font-family: "Abril Fatface", sans-serif;
}

mat-card-content {
	margin-top: 1.5em;
	overflow-y: scroll;
}
