h1 {
	text-align: center;
	font-size: 3em !important;
	font-weight: bolder !important;
	font-family: "Abril Fatface", sans-serif !important;
	margin-top: 1em;
}

h2 {
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 1.5em;
}

.nameplate {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 1em;
}

p {
	margin-bottom: 1em;
}
