<h1 mat-dialog-title>Credits</h1>
<mat-dialog-content class="mat-typography">

	<h2>Imagery &amp; Content</h2>
	<p>
		All imagery and content on this website is solely created and authored by:
	</p>

	<div class="nameplate">Steven Kazlowski</div>

	<p>
		&hellip;who is an excellent photographer, outdoorsman, and all-round wonderful person to know and spend time with. He
		can be reached by his email <a href="mailto:steven@lefteyepro.com">steven&commat;lefteyepro.com</a> or his phone
		number found at the bottom of this page.
	</p>

	<h2>Website Design &amp; Development</h2>
	<p>
		This website was based off the content on the original lefteyepro.com website, but has otherwise been designed and
		developed by:
	</p>

	<div class="nameplate">Chris Myers</div>
	<p>
		Chris is a full-stack developer with specializations in cloud application development and data engineering. He can
		be found at his website <a href="https://crmyers.dev">crmyers.dev</a> and reached by email at
		<a href="mailto:me@crmyers.dev">me&commat;crmyers.dev</a>>
	</p>

	<h2>Motivation & Moral Support</h2>
	<p>
		The developer would like to thank:
	</p>

	<div class="nameplate">Sophia Brennan</div>

	<p>
		...for her support in this effort, for introducing him to Steven, and for finally getting him off his ass to work
		on coding project again. &hearts;
	</p>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-raised-button mat-dialog-close>Go, enjoy some nature photos!</button>
</mat-dialog-actions>
