<div class="standard-content-container">
	<mat-card id="about-card">
		<mat-card-header>
			<mat-card-title><h1>About Steven Kazlowski</h1></mat-card-title>
		</mat-card-header>

		<mat-card-content>
			<img id="bio-picture" src="/assets/images/steven_kazlowski.jpg" alt="Photo of Steven Kazlowski" />

			<p>
				Steven Kazlowski earned a degree in marine biology from Towson State University and worked briefly in the
				Florida Keys as a marine biologist before setting out for Alaska to pursue his true passion – wildlife
				photography.
			</p>

			<p>
				His photographs have been featured in <em>Audubon</em>, <em>Backpacking</em>,
				<em>Canadian National Geographic</em>, <em>National Geographic For Kids</em>, <em>National Wildlife</em>,
				<em>Sierra</em>, and <em>TIME</em> magazines, and he has published several books:
				<em>Alaska’s Bears of the North</em>, <em>Alaska’s Wildlife of the North</em>, and
				<em>Alaska Wildlife Impressions</em>.
			</p>

			<img
				id="camera-picture"
				src="/assets/images/polar_bear_w_camera.jpg"
				alt="Polar bear next to a camera on a tripod" />

			<p>
				He is the only wildlife photographer to date who has extensively photographed the Alaskan polar bear and its
				critical Arctic coastal habitat, something he wishes to continue throughout the international Arctic &mdash; an
				area rapidly being affected by climate change.
			</p>

			<p>
				He is known within the photography community for his skills of observation and his determination to capture an
				image even in extreme weather conditions. Kazlowski lives and travels frequently from Washington to Alaska,
				photographing the natural world.
			</p>
		</mat-card-content>
	</mat-card>
</div>
