<div class="standard-content-container">
	<mat-card>
		<mat-card-header>
			<h1>Latest Adventures</h1>
		</mat-card-header>

		<mat-card-content>
			<div id="grid">
				<app-adventure-card *ngFor="let adventure of page" [adventure]="adventure"></app-adventure-card>
			</div>
		</mat-card-content>

		<mat-card-footer>
			<mat-paginator
				#paginator
				[length]="adventures.length"
				pageSize="6" [pageSizeOptions]="[3,6,9,12,15]"
				aria-label="Select page"
				(page)="setPage($event.pageIndex, $event.pageSize)"
			/>
		</mat-card-footer>
	</mat-card>
</div>
