<mat-toolbar>

	<!-- Hackey router.navigate to make this whole thing a link w/o applying link styles. I'm ambitiously lazy. -->
	<div class="header-title-container" (click)="router.navigate(['/'])">
		<img ngSrc="/assets/images/lep_logo.png" width="123" height="121" alt="LEP logo"/>
		<div class="title-container">
			<span class="header-title-main">Left Eye Productions</span>
			<span class="header-title-sub">Steven Kazlowski</span>
		</div>
	</div>

	<button mat-button [routerLink]="['/about']">About</button>
	<span class="middot">&middot;</span>
	<button mat-button [routerLink]="['/gallery']">Gallery</button>
	<span class="middot">&middot;</span>
	<button mat-button [routerLink]="['/other-products']">Other Products</button>
	<span class="middot">&middot;</span>
	<button mat-button [routerLink]="['/latest-adventures']">Latest Adventures</button>
	<span class="spacer"></span>
	<button mat-button [routerLink]="['/current-project']">Current Project</button>
	<span class="middot">&middot;</span>
	<button mat-button [routerLink]="['/contact']">Contact</button>

</mat-toolbar>

<div class="content-container" (konami)="openCredits()">
	<div class="content">
		<router-outlet></router-outlet>
	</div>

	<footer>
		<!-- Publications bar, mimicking original website -->
		<div class="publications">
			<img *ngFor="let image of publicationImages" [src]="image" alt="publication image" fill/>
		</div>

		<!-- Standard logo + copyright + contact footer -->
		<div class="footer-content">
			<img ngSrc="/assets/favicon.ico" width="64" height="64" alt="lep logo">
			<div>
				<!-- TODO: Verify phone number -->
				<a href="mailto:steven@lefteyepro.com"><mat-icon fontIcon="mail"/>steven&commat;lefteyepro.com</a>
				<a href="tel:13607794350"><mat-icon fontIcon="call"/>+1 (360) 779-4350</a>
			</div>
			<!-- TODO: Verify copyright years -->
			<div>&copy; 2005-{{year()}} Steven Kazlowski / Left Eye Productions. All Rights Reserved</div>
		</div>
	</footer>
</div>
