<mat-card appearance="outlined">
	<mat-card-header class="spaceable">
		<div>
			<mat-card-title>{{imageName}}</mat-card-title>
			<mat-card-subtitle>{{sidecar.date}}</mat-card-subtitle>
		</div>

		<span class="spacer"></span>



	</mat-card-header>

	<!-- TODO: Change width/height here, it'll break... -->
	<img [ngSrc]="getTilePath(sidecar.thumbnail)" [alt]="sidecar.thumbnail" [width]="384" [height]="256">

	<mat-card-footer>
		<button
			mat-icon-button
			(click)="addedToCart.emit(imageName)"
			matTooltip="Add to quote request cart"
			[matTooltipShowDelay]="250">
			<mat-icon fontIcon="add_shopping_cart"/>
		</button>

		<button
			mat-icon-button
			matTooltip="Open in expanded view"
			[matTooltipShowDelay]="250">
			<mat-icon fontIcon="open_in_full"/>
		</button>
	</mat-card-footer>
</mat-card>
