<mat-card appearance="outlined" (contextmenu)="$event.preventDefault()">

	<mat-card-header>
		<div>
			<mat-card-title>{{imageName}}</mat-card-title>
			<mat-card-subtitle>{{sidecar.date}}</mat-card-subtitle>
		</div>
	</mat-card-header>

	<!-- TODO: Change width/height here, it'll break... -->
	<div id="img-container"
			 [style]="'aspect-ratio: ' + sidecar.dimensions.width + ' / ' + sidecar.dimensions.height">
		<img [ngSrc]="getTilePath(sidecar.thumbnail)" [alt]="sidecar.thumbnail" fill>
	</div>

	<mat-card-footer>
		<button
			mat-icon-button
			(click)="addedToCart.emit(imageName)"
			matTooltip="Add to quote request cart"
			[matTooltipShowDelay]="250">
			<mat-icon fontIcon="add_shopping_cart"/>
		</button>

		<button
			mat-icon-button
			matTooltip="Open in expanded view"
			[matTooltipShowDelay]="250">
			<mat-icon fontIcon="open_in_full"/>
		</button>
	</mat-card-footer>
</mat-card>
