@import "theme-alaskan.scss";

html,
body {
	height: 100%;
}

body {
	margin: 0;
}

/*****************
 * COMMON STYLES *
 *****************/

// Flex spacer
.spacer {
	flex-grow: 1;
}

// Container for the above
.spaceable {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

// Middle dot used for separators.
.middot {
	font-size: 2em;
}

// Standard content container for most pages.
.standard-content-container {
	padding: 2.5vh 20vh;
}
