@import "theme-alaskan.scss";

html, body {
	height: 100%;
}

body {
	margin: 0;
}

/*****************
 * COMMON STYLES *
 *****************/

// Flex spacer
.spacer {
	flex-grow: 1;
}

.middot {
	font-size: 2em;
}
